* {
    font-family: Arial, Helvetica, sans-serif;
}

#main-2{
    width: 100vw;
    height: 110vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.filmes-topo, .filmes-meio, .filmes-baixo{
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#main-2 img {
    height: 90%;
    padding: 10%;
    transition: 0.5s;
}

#main-2 img:hover {
    transform: scale(1.1);
}

#main-1 {
    width: 100vw;
    height: 80vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


p {
    color: white;
}

#imagem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55vw;
    height: 80vh;
    margin-left: 5%;
}

#imagemCatalogo{
    height: 70%;
    width: 50%;
}

#catalogo {
    width: 80vw;
}

.topo-titulo {
    height: 40vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#tituloCatalogo {
    font-size: 10vh;
}

.info-baixo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 40vh;
}

#anoCatalogo, #tempoCatalogo, #infoCatalogo, #generoCatalogo {
    padding: 0.5vh;
    font-size: 3vh;
}

.metascore {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-right: 10%;
    font-size: 6vh;
}

#fundo-verde {
    width: 12%;
    height: 25%;
    background-color: green;
}

#fundo-laranja{
    width: 12%;
    height: 25%;
    background-color:orange ;
}

#fundo-vermelho{
    width: 12%;
    height: 25%;
    background-color: red;  
}

#fundo-cinza{
    width: 12%;
    height: 25%;
    background-color:rgb(105, 105, 105);
}
